body{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    width: 90vw;
    min-height: calc(100vh - 100px);
}
hr,section{
    width: 80%;
}
img, h1, section, h3{
    display: block;
    margin: auto;
    width: 50%;
}
.big{
    display: inline-block;
    
}