img{
    width:auto;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: rgb(238, 161, 148);
    height: 100vh;
    margin: 0;
  display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}
#buyButton{
    background-color: rgb(255, 53, 53);
    color: rgb(71, 0, 0);
    border-color: transparent;
    margin-top: 20px;
}

p{
    margin:0 auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    text-align: center;
}
#title{
    margin-top: 70px;
    margin-bottom: 0px;
}