img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
#image{
  max-width:100%;

}
h1,p{
  max-width: 500px;
  text-align:center;
  color: aliceblue;
margin: 0 auto;
}
body{
  background-image: url("bloodywater.jpg");
  background-position: center center;
}
a{
  text-decoration: none;
}
#link{
  color: rgb(21, 255, 239);
}
#cap{
  margin-bottom: 10px;
}
p{
  margin-bottom: 10px;
}